h1,
h2 {
  text-align: center;
}

.buttonAdmin {
  background-color: rgb(153, 22, 72);
  width: 200.08px;
  height: 48.59px;
  margin-left: 100px;
  border-radius: 10px;

  /* Text */

  padding-left: 75px;
}

.adminInput {
  width: 300px;
  height: 48.59px;
  left: calc(50% - 394.08px / 2 - 425.84px);
  top: calc(50% - 48.59px / 2 - 149.9px);

  background: #ffffff;
  border: 1px solid #bcbec0;
  box-sizing: border-box;
  margin-top: 7.78px;
  padding-left: 21.67px;

  /* Text */
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;

  color: #414042;
  /* margin-bottom: 25px; */
  margin-left: 50px;
  border-radius: 40px;
}

.errorAdmin {
  color: red;
  text-align: center;
}

.adminContainer {
  margin-top: 130px;
}

.adminContainer {
  margin-top: -20px;
  width: 394.08px;
  height: 332px;
}

.passwordPosition {
  width: 394.08px;
  height: 70px;
  margin-top: 10px;
}

.userNamePosition {
  width: 394.08px;
  height: 70px;
}
